::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #000000;
}

::-webkit-scrollbar {
	width: 6px;
	background-color: #000000;
}

::-webkit-scrollbar-thumb {
	background-color: #000000;
}

.background {
	position: absolute;
	height: 100vh;
	width: 100%;
	// background: #000000;
	opacity: 0.94;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	z-index: 10;

	h1 {
		font-family: 'Teko', sans-serif;
		font-size: 15em;
		color: #dd9700;
		cursor: default;
		line-height: 110px;
		letter-spacing: 0.06em;
		-ms-transform: skewY(-2deg) !important;
		transform: skewY(-2deg) !important;
		font-style: italic;
		opacity: 1;
		transition: all 0.5s ease;
		transition-delay: 1.2s;
		&.active {
			opacity: 0;
		}
	}
}

.bg-1,
.bg-2 {
	position: absolute;
	z-index: 7;
	height: 100vh;
	width: 100%;
	background: #000000;
	transition: all 1s ease;
	transition-delay: 1.3s;
}
.bg-1 {
	bottom: 50%;
	&.active {
		bottom: 100%;
	}
	&.finished {
		transition-delay: 0s;
		background: transparent;
		display: none;
	}
}
.bg-2 {
	top: 50%;
	&.active {
		top: 100%;
	}
	&.finished {
		display: none;
	}
}