ul.breadcrumb {
  margin-top: 7em;
  list-style: none;
  font-family: sans-serif;
}

ul.breadcrumb li {
  display: inline;
}

ul.breadcrumb li a {
  color: #bcbcbc;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  text-decoration: underline;
}

ul.breadcrumb li + li:before {
  padding: 8px;
  color: #bcbcbc;
  content: "/\00a0";
}

.prod-info-container {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #444444;
  padding: 2em 0 5em 0;
}

.prod-info-container.finished {
  z-index: 900;
}

.prod-info-container .sub-container {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #444444;
  padding: 0 0 0 0;
}

.prod-info-container .sub-container .cont-restrict {
  min-height: 100vh;
  width: 85%;
}

/* Product Info Styles */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  line-height: 1.5;
}

.card-wrapper {
  max-width: 1100px;
  margin: 1.5em auto;
}

img {
  width: 100%;
  display: block;
}

.img-display {
  overflow: hidden;
}

.img-showcase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.img-showcase img {
  min-width: 100%;
}

.img-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.img-item {
  margin: 0.3rem;
  max-width: 150px;
}

.img-item:nth-child(1) {
  margin-right: 0;
}

.img-item:nth-child(2) {
  margin-right: 0;
}

.img-item:nth-child(3) {
  margin-right: 0;
}

.img-item:hover {
  opacity: 0.8;
}

.product-content {
  padding: 2rem 1rem;
}

.product-title {
  font-size: 2.5rem;
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  color: #fff;
}

.product-price {
  margin: 1rem 0;
  font-weight: 700;
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 0.1em;
  font-size: 2em;
  font-weight: 700;
  color: #fec86e;
}

.product-price:before {
  content: "PHP ";
}

.product-availability {
  margin: 1em auto;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
}

.product-availability h4 {
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
}

.product-availability p {
  color: #fec86e;
  font-size: 1.5em;
  letter-spacing: 2px;
}

.product-variation {
  margin: 1em auto;
}

.product-variation .choice-title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
}

.product-variation .choice-title h4 {
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  padding-bottom: 0.3em;
}

.product-variation .choice-title label {
  color: #fff;
  padding: 9px 1rem 10px;
  border: 1px solid #fff;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 2px;
  margin: 5px;
  text-transform: uppercase;
}

.product-variation .choice-title input[type="radio"] {
  display: none;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.product-variation .choice-title input[type="radio"]:hover + label {
  opacity: 0.8;
  border: 1px solid #fec86e;
  color: #fff;
}

.product-variation .choice-title input[type="radio"]:checked + label {
  background-color: #fec86e;
  border: 1px solid #fec86e;
  color: black;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  height: auto;
}

.product-quantity {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
}

.product-quantity h4 {
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  padding-bottom: 0.3em;
}

.product-quantity .stepper {
  overflow: visible;
  height: 2.1em;
  padding: 1px;
  background: #3c3c3c;
  display: inline-block;
  margin: 0.5em auto;
}

.product-quantity .stepper input {
  width: 3em;
  height: 100%;
  text-align: center;
  border: 0;
  background: transparent;
  color: #fff;
  font-size: 1.3em;
}

.product-quantity .stepper button {
  width: 1.4em;
  font-weight: 300;
  height: 100%;
  line-height: 0.1em;
  font-size: 1.4em;
  padding: 0.2em !important;
  color: #fff;
  background: #636363;
  border: none;
}

.product-quantity .stepper button:hover {
  cursor: pointer;
}

.purchase-buttons {
  margin: 1.5rem 0;
}

.purchase-buttons .buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 1em;
}

.purchase-buttons .buttons .button {
  background-color: #000;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 600;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  width: 100%;
  padding: 1em;
  border-radius: 0.25em;
  border: 0;
  cursor: pointer;
  outline: 0;
}

.purchase-buttons .buttons .btn-2 {
  background-color: #fec86e;
  color: #000000;
  border: #fec86e solid 2px;
}

/*Lower Page Styles*/
.tabs {
  display: block;
  display: -moz-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  overflow: hidden;
  min-height: 50vh;
}

.tabs [class^="tab"] label {
  color: #efedef;
  cursor: pointer;
  display: block;
  font-size: 2em;
  font-weight: 700;
  font-family: "Alegreya Sans SC", sans-serif;
  text-transform: uppercase;
  line-height: 1em;
  padding: 2rem 0;
  text-align: center;
}

.tabs [class^="tab"] [type="radio"] {
  border-bottom: 1px solid rgba(239, 237, 239, 0.5);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.tabs [class^="tab"] [type="radio"]:hover {
  border-bottom: 1px solid #fec86e;
}

.tabs [class^="tab"] [type="radio"]:focus {
  border-bottom: 1px solid #fec86e;
}

.tabs [class^="tab"] [type="radio"]:checked {
  border-bottom: 2px solid #fec86e;
}

.tabs [class^="tab"] [type="radio"]:checked + div {
  opacity: 1;
}

.tabs [class^="tab"] [type="radio"] + div {
  display: block;
  opacity: 0;
  padding: 2rem 0;
  width: 90%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.tabs [class*="tab"] label {
  color: #efedef;
  cursor: pointer;
  display: block;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1em;
  padding: 2rem 0;
  text-align: center;
}

.tabs [class*="tab"] [type="radio"] {
  border-bottom: 1px solid rgba(239, 237, 239, 0.5);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.tabs [class*="tab"] [type="radio"]:hover {
  border-bottom: 1px solid #fec86e;
}

.tabs [class*="tab"] [type="radio"]:focus {
  border-bottom: 1px solid #fec86e;
}

.tabs [class*="tab"] [type="radio"]:checked {
  border-bottom: 2px solid #fec86e;
}

.tabs [class*="tab"] [type="radio"]:checked + div {
  opacity: 1;
}

.tabs [class*="tab"] [type="radio"]:checked + label {
  color: #fec86e;
}

.tabs [class*="tab"] [type="radio"] + div {
  display: block;
  opacity: 0;
  padding: 2rem 0;
  width: 90%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.tabs .tab-2 {
  width: 33.33%;
}

.tabs .tab-2 p {
  font-size: 1rem;
  margin: 2em 0;
  font-family: "Roboto Mono", monospace;
  font-weight: 100;
  color: #ffffff;
}

.tabs .tab-2 [type="radio"] + div {
  width: 300%;
  margin-left: 300%;
}

.tabs .tab-2 [type="radio"]:checked + div {
  margin-left: 0;
}

.tabs .tab-2:nth-last-child(2) [type="radio"]:checked + div {
  margin-left: -100%;
}

.tabs .tab-2:last-child [type="radio"] + div {
  margin-left: 100%;
}

.tabs .tab-2:last-child [type="radio"]:checked + div {
  margin-left: -200%;
}

@media screen and (min-width: 992px) {
  .card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
  }
  .card-wrapper {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .product-imgs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .product-content {
    padding-top: 0;
  }
}
