@import url("https://rsms.me/inter/inter.css");
:root {
  --color-gray: #b0b4c4;
  --color-lighter-gray: #e3e5ed;
  --color-light-gray: #f7f7fa;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

body {
  overflow-y: hidden;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 100vh;
  background-color: #fec86e;
}

.main-container .forms-container {
  background-color: #333;
  font-size: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: scroll;
  max-height: 100vh;
  padding: 2vw 0;
  width: 65%;
}

.main-container .forms-container h1 {
  margin-bottom: 0.4em;
  color: #fec86e;
}

.main-container .forms-container p {
  color: var(--color-gray);
  margin-bottom: 1em;
}

.main-container .forms-container .form-container {
  width: 60%;
  margin: 0 auto;
}

.main-container .forms-container .form-container .form {
  display: -ms-grid;
  display: grid;
  grid-gap: 1em;
}

.main-container .forms-container .form-container .form :focus-visible {
  background-color: #333;
}

.main-container .forms-container .form-container .form .fields {
  display: -ms-grid;
  display: grid;
  grid-gap: 1em;
}

.main-container .forms-container .form-container .form .fields .field {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid var(--color-lighter-gray);
  padding: .5em;
  border-radius: .25em;
}

.main-container .forms-container .form-container .form .fields .field .field__label {
  color: var(--color-gray);
  font-size: 0.6em;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 0.25em;
}

.main-container .forms-container .form-container .form .fields .field .field__input {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: transparent;
  color: white;
}

.main-container .forms-container .form-container .form .fields :focus-within {
  border-color: #cc9a11;
}

.main-container .forms-container .form-container .form .fields--2 {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.main-container .forms-container .form-container .form .fields--3 {
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.main-container .forms-container .form-container .form .buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 2em;
}

.main-container .forms-container .form-container .form .buttons .button {
  background-color: #000;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 600;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  width: 30%;
  padding: 1em;
  border-radius: 0.25em;
  border: 0;
  cursor: pointer;
  outline: 0;
}

.main-container .forms-container .form-container .form .buttons .btn-1 {
  background-color: transparent;
  color: #fec86e;
  border: #fec86e solid 2px;
}

.main-container .forms-container .form-container .form .buttons .btn-2 {
  background-color: #fec86e;
  color: #000000;
  border: #fec86e solid 2px;
}

.main-container .forms-container .form-container .form fieldset {
  height: 30vh;
  margin-bottom: 3vh;
}

.main-container .forms-container .logo {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .forms-container .logo .tgr-logo {
  height: 8em;
}

.main-container .forms-container .logo .tgr-text {
  height: 3em;
}

.main-container .orders-container {
  width: 30%;
  max-height: 100vh;
  background-color: #fec86e;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 4vw 4vw 4vw 0;
  margin-left: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-container .orders-container .product-cont {
  padding: 0.7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-container .orders-container .product-cont .prod-img {
  height: 6em;
  width: 6em;
  overflow: hidden;
}

.main-container .orders-container .product-cont .prod-img img {
  height: 6em;
}

.main-container .orders-container .product-cont .prod-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-container .orders-container .product-cont .prod-name h1 {
  font-size: 0.8em;
  text-transform: uppercase;
}

.main-container .orders-container .product-cont .prod-price h1 {
  font-size: 1em;
  text-transform: uppercase;
}

.main-container .orders-container .costs-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 10vh;
  padding: 0.7em;
}

.main-container .orders-container .costs-cont .sub-tot,
.main-container .orders-container .costs-cont .ship-fee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-container .orders-container .costs-cont .sub-tot h1,
.main-container .orders-container .costs-cont .ship-fee h1 {
  text-transform: uppercase;
  font-size: 0.8em;
}

.main-container .orders-container .total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 00.7em;
  width: 100%;
  height: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .orders-container .total h2 {
  font-size: 1.5em;
}

.main-container .orders-container .total h1 {
  font-size: 2em;
}

.main-container .orders-container hr {
  background-color: #222222;
  border: #222222 solid 1px;
  width: 105%;
  margin: 0.7em 0;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #000000;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #000000;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
}
