/*
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
*/
.carousel-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin-top: 20.5rem;
}

.carousel-container .slides {
  width: 500%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carousel-container .slides input {
  display: none;
}

.carousel-container .slides .slide {
  width: 20%;
  -webkit-transition: 2s;
  transition: 2s;
}

.carousel-container .slides .slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel-container .slides #radio1:checked ~ .first {
  margin-left: 0;
}

.carousel-container .slides #radio1:checked ~ .carousel-nav-auto .auto-btn1 {
  background: #414141;
}

.carousel-container .slides #radio2:checked ~ .first {
  margin-left: -20%;
}

.carousel-container .slides #radio2:checked ~ .carousel-nav-auto .auto-btn2 {
  background: #414141;
}

.carousel-container .slides #radio3:checked ~ .first {
  margin-left: -40%;
}

.carousel-container .slides #radio3:checked ~ .carousel-nav-auto .auto-btn3 {
  background: #414141;
}

.carousel-container .carousel-nav-manual {
  position: absolute;
  width: 100%;
  margin-top: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carousel-container .carousel-nav-manual .manual-btn {
  border: 2px solid #414141;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

.carousel-container .carousel-nav-manual .manual-btn:not(:last-child) {
  margin-right: 40px;
}

.carousel-container .carousel-nav-manual .manual-btn:hover {
  background: #414141;
}

.carousel-container .carousel-nav-auto {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 483.5px;
}

.carousel-container .carousel-nav-auto div {
  border: 2px solid #414141;
  padding: 5px;
  border-radius: 10px;
  -webkit-transition: 1s;
  transition: 1s;
}

.carousel-container .carousel-nav-auto div:not(:last-child) {
  margin-right: 40px;
}
