html * {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #262626;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  font-family: sans-serif;
  padding: 5rem;
}

.cata-container {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #444444;
  padding: 2em 0 5em 0;
}

.cata-container.finished {
  z-index: 900;
}

.cata-container .container-2 {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #444444;
  padding: 0 0 0 0;
}

.cata-container .container-2 .cont-restrict {
  min-height: 100vh;
  width: 85%;
}

.cata-container .container-2 .cont-restrict .categories-row {
  height: 20vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
}

.cata-container .container-2 .cont-restrict .categories-row .cat-tab {
  height: 15em;
  width: 27em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.cata-container .container-2 .cont-restrict .categories-row .cat-tab .cat-text {
  height: 100%;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.cata-container .container-2 .cont-restrict .categories-row .cat-tab .cat-text h1 {
  font-family: "Cambay", sans-serif;
  font-size: 2.6em;
  font-style: italic;
  color: #e0e0e0;
  line-height: 1.2em;
}

.cata-container .container-2 .cont-restrict .categories-row .cat-tab .cat-text h3 {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.4em;
  color: #e0e0e0;
  font-weight: 100;
  letter-spacing: 0.05em;
}

.cata-container .container-2 .cont-restrict .categories-row .cat-tab img {
  height: 100%;
  width: 100%;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.cata-container .container-2 .cont-restrict .categories-row .cat-tab:hover img {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.cata-container .container-2 .cont-restrict .all-products {
  counter-reset: product-tile;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 3em;
  padding-bottom: 3em;
}

.cata-container .container-2 .cont-restrict .all-products .prod-header {
  font-family: "Red Hat Display", sans-serif;
  color: #ebebeb;
  letter-spacing: 0.1em;
  font-size: 1.7em;
}

.cata-container .container-2 .cont-restrict .all-products hr {
  margin-top: 1.7em;
  width: 8%;
  height: 0.08em;
  border: #ecaf2b solid 2px;
  background: #ecaf2b;
}

.sort-container {
  width: 100%;
  margin-top: 2.5em;
  padding: 13px 20px;
  background-color: #282828;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-column-gap: 1em;
          column-gap: 1em;
}

.sort-container .dropdown {
  position: relative;
  display: inline-block;
}

.sort-container .dropdown > input[type="checkbox"] {
  position: absolute;
  left: -100vw;
}

.sort-container .dropdown > input[type="checkbox"]:checked ~ ul {
  left: 0;
}

.sort-container .dropdown > label {
  display: inline-block;
  padding: 2px 27px;
  color: #333;
  line-height: 1.5em;
  text-decoration: none;
  border: 1px solid #8c8c8c;
  background-color: white;
  cursor: pointer;
  border-radius: 3px;
}

.sort-container .dropdown > label:hover {
  border-color: #333;
}

.sort-container .dropdown > label:after {
  content: "\f107";
  font-family: FontAwesome;
  display: inline-block;
  margin-left: 6px;
}

.sort-container .dropdown > a[role="button"] {
  display: inline-block;
  padding: 6px 15px;
  color: #333;
  line-height: 1.5em;
  text-decoration: none;
  border: 1px solid #8c8c8c;
  cursor: pointer;
  border-radius: 3px;
}

.sort-container .dropdown > a[role="button"]:hover {
  border-color: #333;
}

.sort-container .dropdown > a[role="button"]:focus {
  border-color: #333;
}

.sort-container .dropdown > a[role="button"]:after {
  content: "\f107";
  font-family: FontAwesome;
  display: inline-block;
  margin-left: 6px;
}

.sort-container .dropdown > ul {
  position: absolute;
  z-index: 999;
  display: block;
  left: -100vw;
  top: calc(1.5em + 14px);
  border: 1px solid #8c8c8c;
  background: #fff;
  padding: 6px 0;
  margin: 0;
  list-style: none;
  width: 100%;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}

.sort-container .dropdown > ul a {
  display: block;
  padding: 6px 15px;
  text-decoration: none;
  color: #333;
}

.sort-container .dropdown > ul a:hover {
  background: #ececec;
}

.sort-container .dropdown > ul a:focus {
  background: #ececec;
}

.sort-container .dropdown > ul:target {
  left: 0;
}

.sort-container .dropdown > ul:target ~ a:after {
  content: "\f106";
}

.sort-container .dropdown > ul:target ~ a.close {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  text-indent: -100vw;
  z-index: 1000;
}

.sort-container .dropdown > [type="checkbox"]:checked + label:after {
  content: "\f106";
}

.sort-container .dropdown a.close {
  display: none;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-top: 3em;
}

.pagination a {
  color: #777777;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  border: 1px solid #777777;
  margin: 0 4px;
}

.pagination a:hover:not(.active) {
  color: #fec86e;
  border: 1px solid #fec86e;
}

.pagination a.active {
  color: #fec86e;
  border: 1px solid #fec86e;
}

.pagination:after {
  font-family: "Roboto Mono", monospace;
  content: "Showing " counter(product-tile) " of " counter(product-tile) " results ";
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  color: white;
}

ul.breadcrumb {
  margin-top: 7em;
  list-style: none;
}

ul.breadcrumb li {
  display: inline;
}

ul.breadcrumb li a {
  color: #bcbcbc;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  text-decoration: underline;
}

ul.breadcrumb li + li:before {
  padding: 8px;
  color: #bcbcbc;
  content: "/\00a0";
}
