@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Lekton:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cambay:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100&family=Antonio:wght@100&family=Montserrat:wght@100&family=Red+Hat+Display&family=Roboto+Mono:ital,wght@0,100;1,100&display=swap");
/* 
font-family: 'Jost', sans-serif;
font-family: 'Lekton', sans-serif; 
font-family: 'Roboto Mono', monospace;
font-family: 'Red Hat Display', sans-serif;
font-family: 'Antonio', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Alegreya Sans SC', sans-serif;
font-family: "Teko", sans-serif;
font-family: 'Bebas Neue', cursive;
font-family: 'Cambay', sans-serif;
font-family: 'Source Sans Pro', sans-serif;

*/
*,
body,
html {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

body.inactive {
  overflow: hidden;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #000000;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #000000;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
}

.background {
  position: absolute;
  height: 100vh;
  width: 100%;
  opacity: 0.94;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

.background h1 {
  font-family: 'Teko', sans-serif;
  font-size: 15em;
  color: #dd9700;
  cursor: default;
  line-height: 110px;
  letter-spacing: 0.06em;
  -webkit-transform: skewY(-2deg) !important;
          transform: skewY(-2deg) !important;
  font-style: italic;
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

.background h1.active {
  opacity: 0;
}

.bg-1,
.bg-2 {
  position: absolute;
  z-index: 7;
  height: 100vh;
  width: 100%;
  background: #000000;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transition-delay: 1.3s;
          transition-delay: 1.3s;
}

.bg-1 {
  bottom: 50%;
}

.bg-1.active {
  bottom: 100%;
}

.bg-1.finished {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  background: transparent;
  display: none;
}

.bg-2 {
  top: 50%;
}

.bg-2.active {
  top: 100%;
}

.bg-2.finished {
  display: none;
}

.main-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 2.8%;
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #444444;
}

.main-container.finished {
  z-index: 900;
}

.main-container .container-1 {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #444444 !important;
}

.main-container .container-1 .header-container {
  position: fixed;
  top: 0;
  height: 95px;
  width: 100%;
  background-color: #dda408;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-container .container-1 .header-container .header_logo {
  height: 95%;
  width: 35%;
  z-index: 999;
  background-color: #000000;
}

.main-container .container-1 .header-container .header_logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1vh;
}

.main-container .container-1 .header-container .header_logo a .tgr_logo {
  margin-left: 2em;
  cursor: default;
  width: 25%;
  color: #fb2274;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.main-container .container-1 .header-container .header_logo a .text_logo {
  width: 35%;
}

.main-container .container-1 .header-container .header-opt {
  gap: 2em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  height: 90px;
  background-color: #000000;
}

.main-container .container-1 .header-container .header-opt li {
  text-align: center;
}

.main-container .container-1 .header-container .header-opt li a {
  text-align: center;
  font-family: 'Antonio', sans-serif;
  text-transform: uppercase;
  font-size: 1.3em;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.main-container .container-1 .header-container .header-opt li a:hover {
  color: #ffc400;
}

.main-container .container-1 .header-container .header-icons-container {
  position: relative;
  height: 90px;
  width: 500px;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container .container-1 .header-container .header-icons-container .search-form {
  position: relative;
  top: 25%;
  left: 15%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 1s;
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
}

.main-container .container-1 .header-container .header-icons-container .search-form:hover {
  width: 200px;
  cursor: pointer;
}

.main-container .container-1 .header-container .header-icons-container .search-form:hover input {
  display: block;
}

.main-container .container-1 .header-container .header-icons-container .search-form:hover .fa {
  background: #ffc400;
  color: black;
}

.main-container .container-1 .header-container .header-icons-container .search-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}

.main-container .container-1 .header-container .header-icons-container .fa {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #000000;
  text-align: center;
  font-size: 1.2em;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.main-container .container-1 .header-container .header-icons-container .bag-icon {
  left: 70%;
  top: 20%;
  position: absolute;
  height: 50px;
  width: 50px;
  background: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid #ffffff;
  padding: 4px;
}

.main-container .container-1 .header-container .header-icons-container .bag-icon:hover {
  background: #ffc400;
  border-color: #ffc400;
  -webkit-transition: all 1s;
  transition: all 1s;
  cursor: pointer;
}

.main-container .container-2 {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #444444;
  padding: 0 0 3em 0;
}

.main-container .container-2 .cont-restrict {
  min-height: 100vh;
  width: 85%;
}

.main-container .container-2 .cont-restrict .categories-row {
  height: 20vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
}

.main-container .container-2 .cont-restrict .categories-row .cat-tab {
  height: 15em;
  width: 27em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.main-container .container-2 .cont-restrict .categories-row .cat-tab .cat-text {
  height: 100%;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.main-container .container-2 .cont-restrict .categories-row .cat-tab .cat-text h1 {
  font-family: 'Cambay', sans-serif;
  font-size: 2.6em;
  font-style: italic;
  color: #e0e0e0;
  line-height: 1.2em;
}

.main-container .container-2 .cont-restrict .categories-row .cat-tab .cat-text h3 {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 1.4em;
  color: #e0e0e0;
  font-weight: 100;
  letter-spacing: 0.05em;
}

.main-container .container-2 .cont-restrict .categories-row .cat-tab img {
  height: 100%;
  width: 100%;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.main-container .container-2 .cont-restrict .categories-row .cat-tab:hover img {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.main-container .container-2 .cont-restrict .featured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 6em;
}

.main-container .container-2 .cont-restrict .featured .feat-header {
  font-family: 'Red Hat Display', sans-serif;
  color: #ebebeb;
  letter-spacing: 0.1em;
  font-size: 1.7em;
}

.main-container .container-2 .cont-restrict .featured hr {
  margin-top: 1.7em;
  width: 8%;
  height: 0.08em;
  border: #ecaf2b solid 2px;
  background: #ecaf2b;
}

.main-container .container-2 .cont-restrict .featured .products {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-container .container-2 .cont-restrict .featured .products .product-tile {
  margin-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 17em;
  height: 25em;
  border: #004ce4 solid 3px;
}

.main-container .container-2 .cont-restrict .featured .products .product-tile .product-img-container {
  width: 100%;
  height: 80%;
  border: #9649dd solid 3px;
}

.main-container .container-2 .cont-restrict .featured .products .product-tile .product-img-container img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-container .container-2 .cont-restrict .featured .products .product-tile .product-title {
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0.2em;
  font-size: 1em;
  color: #ebebeb;
}

.main-container .container-2 .cont-restrict .featured .products .product-tile .product-price {
  margin-top: 0.8em;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0.1em;
  font-size: 1em;
  color: #e4af00;
}

.main-container .container-3 {
  min-height: 30vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #2b2b2b;
  background: url("../images/footer_banner.png") center center;
  background-size: 100%;
  background-attachment: fixed;
}

.main-container .container-3 .footer-row {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em 7em;
}

.main-container .container-3 .footer-row .footer-right-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.3em;
  width: 50%;
}

.main-container .container-3 .footer-row .footer-right-col .footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .container-3 .footer-row .footer-right-col .footer-logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  width: 50%;
}

.main-container .container-3 .footer-row .footer-right-col .footer-logo a .tgr_logo {
  width: 30%;
}

.main-container .container-3 .footer-row .footer-right-col .footer-logo a .text_logo {
  -webkit-transform: translateX(-0.3em);
          transform: translateX(-0.3em);
  font-family: 'Teko', sans-serif;
  font-size: 3em;
  font-style: italic;
  letter-spacing: 0.1em;
  color: #838383;
  cursor: default;
}

.main-container .container-3 .footer-row .footer-right-col .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #999999;
}

.main-container .container-3 .footer-row .footer-right-col .text img {
  margin-left: 10px;
  height: 30px;
}

.main-container .container-3 .footer-row .footer-right-col .contact {
  -webkit-transform: translateY(-0.8em);
          transform: translateY(-0.8em);
  width: 100%;
}

.main-container .container-3 .footer-row .footer-right-col .contact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container .container-3 .footer-row .footer-right-col .contact ul li {
  position: relative;
  display: block;
  color: #666;
  font-size: 15px;
  height: 40px;
  width: 40px;
  background: #171515;
  line-height: 40px;
  border-radius: 50%;
  margin: 0px 10px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main-container .container-3 .footer-row .footer-right-col .contact ul li a {
  height: 100%;
  width: 100%;
  color: #666;
  text-decoration: none;
  background: transparent;
  border-radius: 50%;
  padding: 12px;
}

.main-container .container-3 .footer-row .footer-right-col .contact ul li:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
  border-radius: 50%;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  z-index: -1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main-container .container-3 .footer-row .footer-right-col .contact ul li:nth-child(1):before {
  background: #0055ff;
}

.main-container .container-3 .footer-row .footer-right-col .contact ul li:nth-child(2):before {
  background: #1da1f2;
}

.main-container .container-3 .footer-row .footer-right-col .contact ul li:nth-child(3):before {
  background: #e1306c;
}

.main-container .container-3 .footer-row .footer-right-col .contact ul li:nth-child(4):before {
  background: #9649dd;
}

.main-container .container-3 .footer-row .footer-right-col .contact ul li:nth-child(5):before {
  background: #ff0000;
}

.main-container .container-3 .footer-row .footer-right-col .contact ul li:hover:before {
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.main-container .container-3 .footer-row .footer-right-col .contact ul li:nth-child(1):hover:before {
  -webkit-box-shadow: 0 0 15px #0055ff;
          box-shadow: 0 0 15px #0055ff;
}

.main-container .container-3 .footer-row .footer-right-col .contact ul li:nth-child(2):hover:before {
  -webkit-box-shadow: 0 0 15px #1da1f2;
          box-shadow: 0 0 15px #1da1f2;
}

.main-container .container-3 .footer-row .footer-right-col .contact ul li:nth-child(3):hover:before {
  -webkit-box-shadow: 0 0 15px #e1306c;
          box-shadow: 0 0 15px #e1306c;
}

.main-container .container-3 .footer-row .footer-right-col .contact ul li:nth-child(4):hover:before {
  -webkit-box-shadow: 0 0 15px #9649dd;
          box-shadow: 0 0 15px #9649dd;
}

.main-container .container-3 .footer-row .footer-right-col .contact ul li:nth-child(5):hover:before {
  -webkit-box-shadow: 0 0 15px #ff0000;
          box-shadow: 0 0 15px #ff0000;
}

.main-container .container-3 .footer-row .footer-right-col .contact ul li:nth-child(1):hover {
  color: #004ce4;
  -webkit-box-shadow: 0 0 15px #004ce4;
          box-shadow: 0 0 15px #004ce4;
  text-shadow: 0 0 15px #004ce4;
}

.main-container .container-3 .footer-row .footer-right-col .contact ul li:nth-child(2):hover {
  color: #26a4f2;
  -webkit-box-shadow: 0 0 15px #1da1f2;
          box-shadow: 0 0 15px #1da1f2;
  text-shadow: 0 0 15px #1da1f2;
}

.main-container .container-3 .footer-row .footer-right-col .contact ul li:nth-child(3):hover {
  color: #e23670;
  -webkit-box-shadow: 0 0 15px #e1306c;
          box-shadow: 0 0 15px #e1306c;
  text-shadow: 0 0 15px #e1306c;
}

.main-container .container-3 .footer-row .footer-right-col .contact ul li:nth-child(4):hover {
  color: #9649dd;
  -webkit-box-shadow: 0 0 15px #9649dd;
          box-shadow: 0 0 15px #9649dd;
  text-shadow: 0 0 15px #9649dd;
}

.main-container .container-3 .footer-row .footer-right-col .contact ul li:nth-child(5):hover {
  color: #ff1a1a;
  -webkit-box-shadow: 0 0 15px #ff0000;
          box-shadow: 0 0 15px #ff0000;
  text-shadow: 0 0 15px #ff0000;
}

.main-container .container-3 .footer-row .footer-left-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.3em;
  width: 70%;
}

.main-container .container-3 .footer-row .footer-left-col .text-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 3em;
}

.main-container .container-3 .footer-row .footer-left-col .text-row .info-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1em;
}

.main-container .container-3 .footer-row .footer-left-col .text-row .info-tab a {
  text-decoration: none;
}

.main-container .container-3 .footer-row .footer-left-col .text-row .info-tab h1 {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 1.5em;
  font-weight: 200;
  color: #a8a8a8;
}

.main-container .container-3 .footer-row .footer-left-col .text-row .info-tab h2 {
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 0.1em;
  font-weight: 100;
  font-size: 0.8em;
  color: #ffffff;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.main-container .container-3 .footer-row .footer-left-col .text-row .info-tab h2:hover {
  color: #dda408;
}
