.wip-container {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #444444;
}

.wip-container.finished {
  z-index: 900;
}

.wip-container .container-2 {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #444444;
  padding: 0 0 0 0;
  background: url("../images/footer_banner.png");
  background-size: 100%;
  background-attachment: fixed;
  padding-top: 6em;
}

.wip-container .container-2 .cont-restrict {
  padding-top: 7em;
  min-height: 100vh;
  width: 100%;
  background: radial-gradient(transparent, black 100%, black);
}

.body-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body-logo .body-logo-image {
  width: 100px;
  padding: 0.25em;
}

.body-logo .body-logo-text {
  -webkit-transform: translateX(-0.3em);
          transform: translateX(-0.3em);
  font-family: 'Teko', sans-serif;
  font-size: 4em;
  font-style: italic;
  letter-spacing: 0.05em;
  color: #838383;
  cursor: default;
}

.body-text h1 {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 8em;
  background: -webkit-gradient(linear, left top, right top, from(#FF6D00), to(#FFAB00));
  background: linear-gradient(to right, #FF6D00 0%, #FFAB00 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 5px;
}

.sub-texts {
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 2;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 0.7em;
  color: #fff;
  width: 50%;
  padding-top: 2em;
}

.buttons {
  width: 100%;
  margin-top: 3em;
  font-family: "Roboto Mono", monospace;
}

.buttons .button {
  background-color: #000;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 600;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  padding: 1em;
  border-radius: 0.25em;
  border: 0;
  cursor: pointer;
  outline: 0;
}

.buttons .btn-1 {
  background-color: transparent;
  color: #fec86e;
  border: #fec86e solid 2px;
  width: 15em;
}

.buttons .btn-1:hover:not(.active) {
  color: #000000;
  background-color: #fec86e;
}
/*# sourceMappingURL=wip_style.css.map */