@import url("https://rsms.me/inter/inter.css");

:root {
	--color-gray: #b0b4c4;
	--color-lighter-gray: #e3e5ed;
	--color-light-gray: #f7f7fa;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

@supports (font-variation-settings: normal) {
	html {
		font-family: "Inter var", sans-serif;
	}
}

.header-container {
	position: relative !important;
}

hr {
	margin-top: 1.7em;
	margin-bottom: 1.7em;

	width: 8%;
	height: 0.08em;
	border: #ecaf2b solid 2px;
	background: #ecaf2b;
}

.main-container {
	justify-content: start;
}

.forms-container {
	display: flex;
	flex-direction: column;
	font-size: 14px;
	box-sizing: border-box;
	min-height: 100vh;
	padding: 2vw 0;
	width: 65%;
	gap: 2em;

	h1 {
		font-size: 2.5em;
		color: #ffffff;
	}

	.form-container {
		width: 100%;
		margin: 0 auto;

		.container {
			width: 100%;
			display: flex;
			flex-direction: row;
			gap: 1.4em;
			.labels {
				width: 21em;
				font-family: "Source Sans Pro", sans-serif;
				margin-top: 0.5em;
				gap: 4.20em;
				font-size: 0.58em;
				display: flex;
				flex-direction: column;
			}

			.form {
				width: 50%;
				display: grid;
				grid-gap: 1em;

				:focus-visible {
					background-color: #333;
				}

				.fields {
					display: grid;
					grid-gap: 1em;

					select option {
						background-color: #2b2b2b;
					}
					.field {
						width: 100%;
						display: flex;
						flex-direction: column;
						border: 1px solid var(--color-lighter-gray);
						padding: .5em;
						border-radius: .25em;
						.field__label {
							color: var(--color-gray);
							font-size: 0.6em;
							font-weight: 300;
							text-transform: uppercase;
							margin-bottom: 0.25em;
						}

						.field__input {
							padding: 0;
							margin: 0;
							border: 0;
							outline: 0;
							font-size: 1em;
							width: 100% !important;
							-webkit-appearance: none;
							appearance: none;
							background-color: transparent;
							color: white;
						}
					}
					:focus-within {
						border-color: #cc9a11;
					}
				}
				.fields--2 {
					grid-template-columns: 1fr 1fr;
				}
				.fields--3 {
					grid-template-columns: 1fr 1fr 1fr;
				}
				.buttons {
					width: 100%;
					display: flex;
					flex-direction: row;
					justify-content: end;
					gap: 2em;
					.button {
						background-color: #000;
						text-transform: uppercase;
						font-size: 0.8em;
						font-weight: 600;
						display: block;
						text-align: center;
						text-decoration: none;
						color: #fff;
						width: 30%;
						padding: 1em;
						border-radius: 0.25em;
						border: 0;
						cursor: pointer;
						outline: 0;
					}
					.btn-1 {
						background-color: transparent;
						color: #fec86e;
						border: #fec86e solid 2px;
					}
					.btn-2 {
						background-color: #fec86e;
						color: #000000;
						border: #fec86e solid 2px;
					}
				}
				fieldset {
					height: 30vh;
					margin-bottom: 3vh;
				}
			}
		}
	}
}

.table-container {
	display: flex;
	max-width: 60%;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 5em 0em 5em 0em;
	overflow-x: scroll;
	table {
		width: 200%;
	}
	&::-webkit-scrollbar-track {
		background-color: transparent;
	}

	&::-webkit-scrollbar {
		width: 3px !important;
		background-color: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #202020;
	}
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #000000;
}

::-webkit-scrollbar {
	width: 6px;
	background-color: #000000;
}

::-webkit-scrollbar-thumb {
	background-color: #000000;
}
